\begin{equation*}
	\begin{aligned}
		\mathcal{F} &= \underbrace{\mathbb{E}_{q(x ; \mu)} \left[ 	\ln q(x ; \phi) \right]}_{\text{Entropy}} - \underbrace{\mathbb{E}_{q(x ; \mu)} \left[ 	\ln p(y | x) p(x) \right]}_{\text{Energy}} \\
		&= \mathbb{E}_{q(x ; \phi)} \left[ 	\ln q(x ; \phi) \right] - 2 \ln \pi \sigma(\mu)
	\end{aligned}
\end{equation*}